* {
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

.signup {
    display: flex;
    /* width: 75vw; */
    height: 100%;
    gap: 10vw;
    align-items: center;
    justify-content: center;
}

.guestPage {
    /* position: absolute; */
    /* top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); */
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupPage {
    /* position: absolute; */
    /* top: 50%;
    left: 61.3%;
    transform: translate(-50%, -50%); */
    width: 22vw;
    background-color: white;
    padding: 1vw;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.verticalLine {
    border-left: 2px solid white;
    /* height: 300px; */
    height: 15vw;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.guestButton {
    outline: none;
    border: none;
    width: 20vw;
    cursor: pointer;
    filter: brightness(100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.guestPage>div>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.7px;
}

.guestText {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 3vw;
}

form>input {
    max-width: 20vw;
    height: 3vw;
}

.signupButton {
    outline: none;
    border: none;
    width: 20vw;
    cursor: pointer;
    filter: brightness(100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.askHeading {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1vw;
}

.loginPrompt {
    cursor: pointer;
    color: rgb(98, 98, 233);
}

.text {
    margin-top: 1vw;
}

button:hover {
    background-color: rgb(118, 118, 241);
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

.message {
    font-size: 1vw;
    margin-bottom: 0.7vw;
}

.message1 {
    margin-bottom: 0.7vw;
}

.error {
    color: red;
    margin-top: 0.6vw;
}

@media (max-width: 500px) {
    .signup {
        display: flex;
        flex-direction: column;
    }
    .guestPage {
        padding: 2vw 2vw;
        height: 38vw;
    }
    .verticalLine {
        display: none;
    }
    .signupPage {
        padding: 2vw 0;
        width: 70vw;
        max-width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form>input {
        min-width: 58vw;
        height: 10vw;
    }
    form {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 1vw;
    }
    .signupButton {
        margin: 2vw 0;
        width: 58vw;
        height: 10vw;
    }
    .guestButton {
        width: 35vw;
        height: 20vw;
    }
    .message {
        font-size: 3.4vw;
    }
}