* {
    /* border: 1px solid blue; */
}

.post {
    /* width: 600px; */
    /* width: 88%; */
    width: 628px;
    /* height: auto; */
    /* margin-left: 65px; */
    background-color: rgb(27, 26, 26);
    padding: 1vw 1vw;
    transition: background-color 0.3s ease;
}

.post:hover {
    background-color: rgb(33, 32, 32);
}

.ContentWrapper {
    color: white;
    display: block;
    text-decoration: none;
    cursor: default;
    height: auto;
}

.userDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftPart {
    display: flex;
    gap: 0.8vw;    
    align-items: center;
}

.profilePhoto {
    border-radius: 50%;
    width: 2.5vw;
    height: auto;
}

.text {
    font-size: 1.1vw;
    margin: 0.9vw 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.postImage {
    display: flex;
    justify-content: center;
    height: 350px;
    margin: 1vw 0;
}   

.contentImage {
    border-radius: 3px;
    width: auto;
    height: 100%;
}

.username {
    font-size: 1.1vw;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.username:hover {
    color: rgb(105, 105, 233);
}

.icon {
    cursor: pointer;
}

.icons {    
    display: flex;
    gap: 1.5vw;
    margin-top: 0.5vw;
    font-size: 1vw;
}

.deleteIcon {
    cursor: pointer;
    color: rgb(103, 103, 237);
}

.deleteIcon:hover {
    background-color: rgb(38, 38, 119);
    border-radius: 2px;
}

.createdAt {
    color: rgb(176, 176, 176);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: default;
}

.likeSection {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
    color: rgb(103, 103, 237);
    cursor: pointer;
}

.commentsSection {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
    color: rgb(103, 103, 237);
    cursor: pointer;
}

@media (max-width: 500px) {
    .post {
        /* width: 92%; */
        /* height: 400px; */
        padding: 20px 20px;
        /* margin: 0 25px; */
    }
    .photo {
        padding: 0 20px;
    }
    .postImage {
        /* height: auto; */
        width: auto;
        min-width: auto;
        max-width: auto;
        margin: 15px 20px;
    }
    .profilePhoto {
        width: 50px;
    }
    .username {
        font-size: 22px;
    }
    .createdAt {
        font-size: 20px;
    }
    .icons {
        font-size: 25px;
        gap: 30px;
    }
    .text {
        font-size: 22px;
        margin-top: 13px;
    }
    .leftPart {
        gap: 14px;
    }
    .likeSection {
        gap: 10px;
    }
    .commentsSection {
        gap: 10px;
    }
    
}