* {
    /* border: 1px solid blue; */
}

.profilePhoto {
    border-radius: 50%;
    width: 5vw;
}

.username {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.editButton {
    cursor: pointer;
}

.editText {
    cursor: pointer;
}

.editContainer {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(103, 103, 237);
}

.saveButton {
    cursor: pointer;
    background-color: rgb(46, 46, 245);
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    filter: brightness(100%);
}

.profilePage input {
    margin: 0;
    margin-bottom: 1vw;
    margin-top: 0;
    font-family:monospace;
}

.profilePage textarea {
    margin: 0;
    margin-bottom: 1vw;
    margin-top: 0;
}

.bioInput {
    height: 5vw;
    min-height: 4vw;
    white-space: pre-wrap;
    /* padding: ; */
}

textarea {
    border: none;
}

textarea:focus {
    border-width: 5px;
}

input {
    padding: 1vw;
}

.saveButton:hover {
    background-color: rgb(103, 103, 237);
}

.savingButton {
    background-color: rgb(103, 103, 237);
}

.inputContainers {
    display: flex;
    flex-direction: column;
    gap: 0vw;
    margin-top: 1vw;
    margin-bottom: 0vw !important;
}

.profilePage {
    width: 80%;
    /* border: 2px solid blue; */
    /* position: relative;
    left: 25%;
    top: 0%; */
}

.user {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counters {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-top: 2vw;
    margin-left: 1vw;
    color: rgb(195, 195, 195);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2vw;
}

.num {
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 1vw 0vw;
    margin-top: 3vw;
}

.userPostText {
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.infoLine {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 2vw 0;
    width: 47vw;
}

.horizontalLine {
    border-color: rgb(103, 103, 237);
    /* width: 600px; */
    /* width: 88%; */
    width: 41.3vw;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}

a:hover {
    color: rgb(88, 88, 239);
}

input:focus-visible {
    outline: 2px solid white;
    border-radius: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(61, 60, 60) inset !important;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; 
    -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: white;
}

input {
    border-radius: 3px;
}