* {
    /* border: 1px solid blue; */
}

.GifContainer {
    position: absolute;
    /* width: 100%; */
    width: 45vw;
    /* height: 500px; */
    height: 35vw;
    background-color: rgb(33, 33, 33);
    /* left: 20%; */
    /* top: 100%; */
    /* margin-left: -20%; */
    /* margin-top: -250px; */

    top: 22vw;
    left: 50%;  
    transform: translate(-50%, -50%); 

    padding: 1vw 1vw;
    overflow: auto;
    scrollbar-color: rgb(94, 39, 39);
    /* border-bottom: 10px solid rgb(33, 33, 33); */

    display: flex;
    flex-direction: column; 
}

.searchBar {
    /* width: 100%; */
    flex: 1;
    text-decoration: none;
    outline: none;
    border: none;
    height: 2vw;
    padding: 0 0.7vw;
    border-radius: 4px;
    background-color: rgb(53, 53, 53);
    color: white;
    /* border: 2px solid green; */
}

.submitButton {
    filter: brightness(100%);
    background-color: rgb(74, 74, 238);
    outline: none;
    border: none;
    width: 5vw;
    height: 2vw;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    /* border: 2px solid red; */
}

.submitButton:hover {
    background-color: rgb(103, 103, 236);
}

.topContainer {
    display: flex;
    gap: 1vw;  
    height: 2vw;
    top: 0;
    position: sticky;
    z-index: 100;
    /* border: 2px solid violet; */
}

.gifGridContainer {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #888888 rgb(62, 62, 62); 
    margin-top: 1vw;
    /* scrollbar-width: thin;  */
}

.gifImg {
    /* width: 230px; */
    /* height: 230px; */
    width: 13vw;
    height: 13vw;
    /* margin: 0.7vw 0.7vw; */
    margin-bottom: 0.7vw;
    margin-right: 0.7vw;
    cursor: pointer;
}

.gif {
    padding: 0vw;
}

.loadingLine {
    text-align: center;
    margin-top: 4vw ;
}

@media (max-width: 500px) {
    .GifContainer {
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 93vw;
        height: 130vw;
        padding: 4vw 4vw;
        border-bottom: 2vw solid rgb(33, 33, 33);
    }
    .searchBar {
        height: 9vw;
        font-size: 4vw;
        padding: 0 2vw;
    }
    .submitButton {
        height: 9vw;
        width: 16vw;
        font-size: 4vw;
    }
    .topContainer {
        gap: 2.2vw;
    }
    .gifGridContainer {
        margin-top: 11vw;
    }
    .gifImg {
        width: 25vw;
        height: 25vw;
        margin-right: 2vw;
    }
}