.post {
    width: 600px;
    height: auto;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    padding: 1vw 1vw;
}

.userDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftPart {
    display: flex;
    gap: 0.8vw;    
    align-items: center;
}

.profilePhoto {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.text {
    margin: 0.9vw 0;
}

.postImage {
    display: flex;
    justify-content: center;
}

.icons {    
    display: flex;
    gap: 1vw;
    margin-top: 0.5vw;
}