.posts {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.categories {
    display: flex;
    gap: 2vw;
    justify-content: center;
    margin: 1.4vw 0;
    width: 600px;
}

.cat {
    cursor: pointer;
}