.posts {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 48vw;
    /* width: 88%; */
}

.categories {
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin: 1.4vw 0;
    /* width: 600px; */
    width: 88%;
    font-size: 1.3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid rgb(87, 87, 232);
    padding-bottom: 0.4vw;
    transition: color 0.2s ease-in;
    /* border-b */
}

.inactive {
    color: rgb(174, 174, 174);
}

.inactive:hover {
    color: #6976e8;
}

a {
    cursor: default;
}

* {
    /* border: 1px solid blue; */
}

.latestUsers {
    width: 20vw;
    height: 22vw;
    background-color: rgb(27, 26, 26);
    border-radius: 10px;
    padding: 9px 8px;
    margin-top: 3vw;
    position: fixed;
    right: 3vw;
    /* position: absolute; */
    /* transform: translate(100%, 20%); */
}

.homePage {
    position: relative;
}

* {
    /* border: 1px solid red; */
}

.user {
    /* width: 40vw; */
    height: 3.5vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 25, 25);
    padding: 1vw 1vw;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 0.1vw;
}

.leftPart {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.userPhoto {
    width: 2vw;
    border-radius: 50%;
}

.username {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}

.username:hover {
    color: #6976e8;
    cursor: pointer;
}

.followButton {
    cursor: pointer;
    height: 1.7vw;
    width: 5vw;
    background-color: #253af5;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    filter: brightness(100%);
    font-size: 0.9vw;
}

.followingButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    border: 2px solid rgb(128, 127, 127);
    cursor: pointer;
    height: 1.7vw;
    width: 7vw;
    border-radius: 4px;
    filter: brightness(100%);
    font-size: 0.9vw;
}

.followingButton:hover {
    background-color: rgb(49, 49, 49);
}

.followButton:hover {
    background-color: #3f51f6;
}

.latestUser {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1vw 1vw;
    font-weight: bold;
    font-size: 1.1vw;
}

.homeContainer {
    display: flex;
    gap: 3vw;
    position: relative;;
}

@media (max-width: 500px) {
    .latestUsers {
        display: none;
    }
}