.posts {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.categories {
    display: flex;
    gap: 2vw;
    justify-content: center;
    margin: 1.4vw 0;
    width: 600px;
    font-size: 1.3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cat {
    cursor: pointer;
}

a {
    cursor: default;
}