input {
    outline: none;
    width: 40vw;
    height: 2vw;
    padding: 0 0.5vw;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 6px;
    margin-bottom: 2.4vw;
}

.user {
    width: 40vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 25, 25);
    padding: 1vw 1vw;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 1vw;
}

.user:hover {
    background-color: rgb(42, 42, 42);
}

.userPhoto {
    width: 2.5vw;
    border-radius: 50%;
}

.leftPart {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.followButton {
    cursor: pointer;
    height: 1.7vw;
    width: 4.5vw;
    background-color: #253af5;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    filter: brightness(100%);
    font-size: 0.9vw;
}

.username {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 0.9vw;
}

.username:hover {
    color: #5d6cec;
    cursor: pointer;
}

.followingButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    border: 2px solid rgb(135, 135, 135);
    cursor: pointer;
    height: 1.5vw;
    border-radius: 4px;
    filter: brightness(100%);
    font-size: 0.9vw;
}

.followingButton:hover {
    background-color: rgb(49, 49, 49);
}
