
textarea {
    box-sizing: border-box;
    min-height: 300px;
    max-width: 100%;
    min-width: 0;
    border: 2px solid red;
    field-sizing: content;
    resize: none;
    outline: none;
    border: none;
    padding: 1vw 2vw;
    overflow: hidden;
    flex-grow: 1;
    color: white;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.postButton {
    outline: none;
    text-decoration: none;
    border: none;
    width: 6vw;
    height: 3.6vw;
    border-radius: 5px;
    background-color: #2836ff;
    cursor: pointer;
    position: relative;
    top: 0%;
    right: 1%;
    font-size: 1.2vw;
}

.textareaContainer {
    /* border: 2px solid greenyellow; */
    box-sizing: border-box;
    position: relative;
    background-color: rgb(17, 16, 16);
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 70%; 
}

.textareaContainer > * {
    background-color: transparent;
}

.postPage {
    /* border: 2px solid blueviolet */
    position: relative;
}

.iconsContainer {
    background-color: rgb(17, 16, 16);
    display: flex;
    gap: 1vw;
}

.postContainer {
    background-color: rgb(17, 16, 16);
    display: flex;
    gap: 1.1vw;
    align-items: center;
}

.characterCounter {
    background-color: rgb(17, 16, 16);
    color: rgb(162, 162, 162);
}

.featuresContainer {
    margin: 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    padding: 0 1vw;
}

.icon {
    background-color: #0000ff;
    border-radius: 4px;
    padding: 9px;
    cursor: pointer;
}

.previewImage {
    width: 300px;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.cancelButton {
    position: absolute;
    bottom: calc(50% + 150px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.previewImageContainer {
    position: relative;
    bottom: 5vw;
    margin-bottom: 1.5vw;
}
