.loginPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22vw;
    background-color: white;
    padding: 1vw;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>input {
    max-width: 20vw;
    background-color: white;
    border: 2px solid rgb(231, 231, 231);
    color: black;
    font-family: monospace;
    margin-bottom: 1vw;
}

.loginButton {
    filter: brightness(100%);
    outline: none;
    border: none;
    width: 20vw;
    height: 3vw;
    font-family: sans-serif;
    /* font-size: 1.3vw; */
    cursor: pointer;
    background-color: white;
    color: white;
    /* border: 2px solid rgb(231, 231, 231); */
    background-color: rgb(92, 92, 244);
    margin-bottom: 1vw;
}

.loginButton:hover {
    background-color: rgb(128, 128, 245);
}

.guestButton {
    filter: brightness(100%);
    outline: none;
    border: none;
    margin-top: 1vw;
    width: 20vw;
    height: 3vw;
    font-family: sans-serif;
    /* font-size: 1.3vw; */
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid rgb(231, 231, 231);
}

.signButton {
    filter: brightness(100%);
    outline: none;
    border: none;
    margin-top: 1vw;
    width: 20vw;
    height: 3vw;
    font-family: sans-serif;
    /* font-size: 1.3vw; */
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid rgb(231, 231, 231);
}

.guestButton:hover {
    background-color: rgb(231, 231, 231);
}

.signButton:hover {
    background-color: rgb(231, 231, 231);
}

.askHeading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2vw;
    text-align: center;
    color: black;
}

.logo {
    width: 15vw;
}

.text {
    color: rgb(145, 145, 145);
    text-align: center;
    font-size: 0.9vw;
    margin-top: 2vw;
}