.loginPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
}

form>input {
    max-width: 20vw;
}

.loginButton {
    filter: brightness(100%);
    outline: none;
    border: none;
    width: 20vw;
    height: 3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    cursor: pointer;
}

.guestButton {
    filter: brightness(100%);
    outline: none;
    border: none;
    margin-top: 1vw;
    width: 20vw;
    height: 3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    cursor: pointer;
}

.askHeading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2vw;
}