/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

* {
  background-color: black;
  color: white;
}

.siteName {
  font-size: 25px;
  font-weight: bold;
}

.iconList {
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
}

.iconList p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  font-size: 20px;
}

.navigationRoutes {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  margin-top: 2vw;
  margin-left: 4vw;
  /* border: 2px solid red; */
  width: 20%;
  height: 100%;
}

a {
  text-decoration: none;
}

.commonBackground {
  /* border: 2px solid green; */
  margin-top: 7vw;
  margin-left: 5vw;
  margin-right: 20vw;
  width: 70%;
}

.sectionsContainer {
  display: flex;
  gap: 2vw;
}