* {
    /* border: 1px solid blue; */
}

.loading {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profilePhoto {
    border-radius: 50%;
    width: 5vw;
}

.username {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.editButton {
    cursor: pointer;
}

.editText {
    cursor: pointer;
}

.editContainer {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(103, 103, 237);
}

.saveButton {
    cursor: pointer;
    background-color: rgb(46, 46, 245);
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    filter: brightness(90%);
}

.inputContainers {
    display: flex;
    flex-direction: column;
    gap: 0vw;
    margin-top: 2vw;
}

.profilePage {
    width: 80%;
    margin: 20px 0 65px 4vw;
    /* border: 2px solid blue; */
    /* position: relative;
    left: 25%;
    top: 0%; */
}

.user {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counters {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-top: 2vw;
    margin-left: 1vw;
    color: rgb(195, 195, 195);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.num {
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 1vw 0vw;
    margin-top: 3vw;
}

.userPostText {
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.infoLine {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 2vw 0;
    width: 47vw;
}

.horizontalLine {
    border-color: rgb(103, 103, 237);
    /* width: 600px; */
    /* width: 88%; */
    width: 41.3vw;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}

a:hover {
    color: rgb(88, 88, 239);
}

input:focus-visible {
    outline: 2px solid white;
    border-radius: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(61, 60, 60) inset !important;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; 
    -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: white;
}

input {
    border-radius: 3px;
}

.followButton {
    cursor: pointer;
    height: 1.7vw;
    width: 4.5vw;
    background-color: #253af5;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    filter: brightness(100%);
}

.followButton:hover {
    background-color: #5364f5;
}

.followingButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    border: 2px solid rgb(135, 135, 135);
    cursor: pointer;
    height: 1.5vw;
    border-radius: 4px;
    filter: brightness(100%);
}

.followingButton:hover {
    background-color: rgb(49, 49, 49);
}

.rightPart {
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}


@media (max-width: 500px) {
    .profilePage {
        padding: 0 5vw;
        padding-top: 12vw;
        padding-bottom: 30.6vw;
        width: 100%;
        margin: 0 !important;
    }  
    .posts {
        gap: 8vw;
        width: auto;
    } 
    .profilePhoto {
        width: 18vw;
    }
    .username {
        font-size: 7vw;
        margin-left: 4vw;
    }

    .counters {
        font-size: 4vw;
        margin-top: 8vw;
        justify-content: space-around;
    }
    .num {
        font-size: 5vw;
    }
    .userPostText {
        font-size: 6vw;
        margin-top: 7vw;
        margin-bottom: 4vw;
    }
    .details {
        font-size: 4vw;
        margin-bottom: 5vw;
        margin-top: 8vw;
        gap: 4vw;
    }
    .horizontalLine {
        width: auto;
        margin-bottom: 6vw;
    }
}